:root {
  --navbarbackground-color: #ffffff;
  --toggle-color: rgb(255, 255, 255);
}

#root {
  height: 100%;
  margin: 0;
}

body, ul, li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#home_body{
  width: 100%;
  height: 100%;
  margin: 0;
}
a {
  text-decoration: none;
}
/* Sidebar */
.sidebar{
  width: 350px;
  height: 100%;
  padding-top: 100px;

  position: fixed;

  box-shadow: inset 0px 0px 0px 0.1px;
}

.sidebar > ul ul{
  display: none;
}

.sidebar ul > li > a {
  display: block;
  color: rgb(135, 128, 128);
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
}

.navbar {
  margin: 0;
  background-color: var(--navbarbackground-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-shadow: inset 0px 0px 0px 0.1px;

}
.container-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 12px;
}
.navbar-brand{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 350px;
  justify-content: center;

}

.navbar-brand > p{
  font-size: 27px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

}

.input-form {
  margin-left: 40px;

}
.container-left > button {
  background-color: var(--toggle-color);
  padding-left: 0;
  
}

.form-control{
  width: 450px;
  padding: 8px 12px;
  font-size: 16px;
  margin: 4px;
  border-radius: 10px;
  border: 2px solid gray;
}

.container-right {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 20px;
}

/* Page:Home */
.container-home {
  margin-left: 350px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

/* 상품 표 */
.container-product-list{
  margin-top: 95px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.graph-product-list {
  width: 100%;
  margin: 50px 40px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tbody {
  text-align: center;
}
th, td {
  padding: 10px;
  border-bottom: 1px solid #CD5C5C;
}

td{
  cursor: pointer;
}

/* 커서 갖다대면 색깔이 바뀌며 직관적으로 표현한다 */
.table-row:hover { background-color: #F5F5F5; }

.table-tr{
  background-color: #2CD5C4;
  color: white;
}

.table-header{
  padding: 15px 0px;
}

.container-calculate{
  margin-top: 74px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: inset 0px 0px 0px 0.1px;
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.calculate-header{
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
}
.wrapper-calculate-list{
  margin-top: 10px;
  justify-content: center;
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
  min-height: 25%;


}

.wrapper-barcode{
  margin-top: 8%;
  width: 100%;
  text-align: center;
}

.header-barcode{
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}

.wrapper-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  margin-bottom: 20px;
}

.input-barcode{
  border-radius: 5px;
  width: 100%;
  padding: 8px 2px;
  font-size: 15px;
}

.input-button{
  width: 20px;
  height: 20px;
  padding: 8px 2px;
  border-radius: 5px;
  border: 1px solid black;
  background: url('../../../public/image/input_button.png') no-repeat;

  cursor: pointer;
}
.register-button{
  background-color: #9BCBEB;
  border: #F5F5F5 solid;
  border-radius: 5px;
  text-align: center;
  padding: 8px 2px;
  font-weight: bold;
  cursor: pointer;
}
.rollback-button{
  margin-top: 10px;
  background-color: #CD5C5C;
  border: #F5F5F5 solid;
  border-radius: 5px;
  text-align: center;
  padding: 8px 2px;
  font-weight: bold;
  cursor: pointer;
}

.payback-button{
  margin-top: 10px;
  text-align: center;
  padding: 8px 2px;
  background-color: #9CDBD9;
  border: #F5F5F5 solid;

  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.pay-button {
  margin-top: 10px;
  text-align: center;
  padding: 8px 2px;
  background-color: #2CD5C4;
  border: #F5F5F5 solid;
  border-radius: 5px;
  font-weight: bold;

  cursor: pointer;
}

button:hover{
  color: #F5F5F5;
}

button:active{
  opacity: 0.7;
}

#modal-container{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal-body{
  width: 35%;
  height: 80%;
  padding: 20px;
  position: relative;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 1);
}

.commute {
  text-decoration: none;
  background-color: #2CD5C4;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 30px;
}

a:visited {
  color : black;
}
a:hover {
  color : red;
}
a:active {
  color : green
}