hr {
    width: 85%;
    margin-right: 20%;

  }

.container-home{
  margin-left: 350px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.container-orders {
    padding-top: 120px;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    height: 100%;
    justify-content: space-between;
}

.order-title {
  margin-block-end: 0.33rem;
}
.container-filter{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  margin-bottom: 20px;
}

.container-filter .search{
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 25%;
  margin-right: 20px;
  padding: 8px 12px;
  font-size: 16px;
}

.container-filter .filter-btn{
  background-image: url("../../../public/image/filter_button.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  background-color: #fff;
  padding: 13px 13px;
  border: none;

  cursor: pointer;
}

.container-product-list{
  margin-top: 95px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.order-product-list {
  width: 100%;
  margin: 50px 40px;
  text-align: center;
}

.order-table{
  overflow-y: auto;
}

.detail-button {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 10px;
}

.detail-button:hover {
  background-color: #ddd;
}

.container-header {
  display: flex;
  gap: 0.5rem;
}

.productSelected {
  color: black;
}

.serviceSelected {
  color: black;
}
.unselected-title {
  color: #ddd;
  cursor: pointer;
}

.unselected-title::before, ::after{
  content: 🛍️;
}